{
  "root": true,
  "ignorePatterns": ["**/*"],
  "plugins": ["solid"],
  "env": {
    "jest": true
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"]
    },
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "extends": ["airbnb-base"],
      "rules": {
        "import/prefer-default-export": "off",
        "import/no-unresolved": "off",
        "import/extensions": "off",
        "import/no-extraneous-dependencies": "off",
        "global-require": "off",
        "no-unused-vars": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "no-param-reassign": "off",
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": "error",
        "implicit-arrow-linebreak": "off",
        "object-curly-newline": "off",
        "object-curly-spacing": [ "warn", "always" ],
        "linebreak-style": "off",
        "operator-linebreak": "off",
        "no-plusplus": "off",
        "max-len": [ "error", { "code": 120 } ],
        "max-depth": ["error", 3],
        "function-paren-newline": "off"
      }
    },
    {
      "files": ["*.js", "*.jsx"],
      "extends": ["airbnb-base"],
      "rules": {
        "import/prefer-default-export": "off",
        "import/no-unresolved": "off",
        "import/extensions": "off",
        "import/no-extraneous-dependencies": "off",
        "global-require": "off",
        "no-unused-vars": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "no-param-reassign": "off",
        "no-shadow": "off",
        "operator-linebreak": "off",
        "@typescript-eslint/no-shadow": "error",
        "implicit-arrow-linebreak": "off",
        "object-curly-newline": "off",
        "linebreak-style": "off",
        "no-plusplus": "off",
        "object-curly-spacing": [ "warn", "always" ],
        "max-len": [ "error", { "code": 120 } ],
        "max-depth": ["error", 3],
        "function-paren-newline": "off"
      }
    }
  ]
}