.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include sizes(100%, 100%);

  padding-left: 0px;
  background-color: #fafafa;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;

  .header {
    @include dfc;

    color: $white;

    @include sizes(100xp, 100%);

    flex: 0 0 100px;
    background: $black;

    .title {
      font-size: 32px;
    }
  }

  .smiles-board {
    @include pos(absolute, right, 0, bottom, 0);
    @include sizes(300px, 100%);
    margin-bottom: 70px;
    overflow: hidden;
    overflow-y: scroll;
    background: $white;
    border-top: 1px $darkgray solid;

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }

    .smiles-board-list {
      width: 100%;
      padding: 5px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 5px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        border-radius: 5px;
        border: 2px $lightgray solid;
        aspect-ratio: 1/1;
        width: auto;
        span {
          transition: transform 0.2s;
        }
        &:hover {
          background: $lightgray;
          span {
            transform: scale(1.5);
          }
        }
      }
    }
  }

  .chat__messages {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: calc(100% - 100px - 70px);

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }

    .no_messages {
      @include dfc;
      @include sizes(100%, 100%);
      font-size: 1.5rem;
      color: $lightgray;
    }
  }

  .message {
    list-style: none;
    padding: 1rem;
    border-top: 1px solid $lightgray;
    white-space: break-spaces;

    &__meta {
      display: flex;
      align-items: center;

      gap: 0.5rem;
      margin-bottom: 0.5rem;
      font-weight: 300;
      color: $darkgray;
    }

    &__avatar {
      @include dfc;
      @include sizes(1rem, 1rem);
      border-radius: 50%;

      img {
        @include sizes(100%, 100%);
        border-radius: 50%;
      }
    }

    &__text {
      display: flex;
      font-size: 0.8rem;
    }

    &__content {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      font-weight: 500;
    }
  }
}

.chat-form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex: 0 0 70px;
  background: $subgray;
  padding: 5px;
  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  input {
    @include sizes(50px, 80%);
    vertical-align: middle;
    font-size: 18px;
    font-weight: 400 !important;
    padding-left: 10px;
    border: none;
    border-radius: 0.5rem;
    background: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    margin-left: 5px;
    margin-right: 5px;
    &:focus {
      outline: 2px lightblue solid;
    }
  }

  button {
    @include sizes(40px, 40px);
    margin: 0 auto;
    font-size: 1.2rem;
    text-align: center;
    border: none;
    border-radius: 100%;

    &:hover {
      cursor: pointer;
      background: lightblue;
    }
  }
}
