.isHost {
  display: flex;
  padding: 5px;
  
  button {
    @include dfc;
    background: $black;
    color: $white;
    margin-right: 5px;
    border-radius: 15px;
    @include sizes(50px, 150px);
    transition: 0.3s;

    &:hover {
      border-radius: 30px;
      transition: 0.3s;
    }
    &.active {
      background: $black;
    }
  }
}

.wordItem {
  @include shadow;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px;
  width: 350px;
  border-radius: 15px;
  margin: 15px 0;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40px;
  }
}

.green_btn {
  @include sizes(100px, 350px);
  text-align: center;
  font-size: 2rem;
  background: $green;
  color: $white;
  margin-top: 30px;
}

.green {
  background: $green;
  color: $white;
}

.red {
  background: $red;
  color: $white;
}

.light-green {
  background: $lightgreen;
  color: $black;
}

.light-red {
  background: $lightred;
  color: $black;
}
