.demo_alias {
  @include sizes(100%, 100%);
  position: relative;

  .central_column {
    @include flex-col;
    @include sizes(100%, 100%);
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 15px;
    position: relative;
  }

  .wordsList {
    position: absolute;
    @include flex-col;
    overflow: scroll;
    z-index: 15;
    max-height: 80%;
    margin: 20px auto 120px auto;
    padding: 20px;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .timer {
    @include dfc;
    @include sizes(50px, 50px);
    @include pos(absolute, right, 25px, bottom, 25px);
    border: 3px $black solid;
    border-radius: 100%;
    padding-top: 5px;
    text-align: center;
  }

  .skipWordBtn {
    &:hover {
      color: $red;
    }
  }

  .white {
    background: $white;
  }
}
