.quiz-container {
  @include dfc;
  position: relative;
  height: 100%;

  * {
    // border: 1px white solid;
  }

  // border: 5px solid #000;

  .pick__theme {
    text-align: center;
    margin-top: 25px;
    font-size: 1em;
  }

  .timer {
    // allign timer to the top right
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .title {
    margin-bottom: 10px;
    text-align: center;
  }

  .chosen__song {
    display: flex;

    .pick__stage {
      .edit-name {
        background-color: $green;
        border-radius: 0.5rem;
        padding: 5px;
        margin-bottom: 10px;
        input {
          padding: 5px;
          background-color: white;
          border-radius: 0.5rem;
        }
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        button {
          background-color: $green;
          padding: 10px;
          border-radius: 0.5rem;
          width: auto;

          cursor: pointer;
          color: white;
          &:hover {
            background-color: $lightgreen;
          }
        }
      }
    }
  }

  .confirm {
    @include flex-col;
    gap: 20px;

    * {
      width: 100%;
    }
  }

  .pick_song {
    margin: 0 auto;
    // border: 5px red solid;
    display: flex;
    max-width: 600px;

    gap: 20px;
    flex-direction: column;
    // justify-content: space-between;
    height: 90%;

    .player {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $green;
      border-radius: 5px;
      height: 160px;

      .image {
        // @include sizes(100%, 100%);
        @include sizes(130px, 130px);
        border: 6px $lightgray solid;
        border-radius: 5px;
        margin: 0 10px;
      }

      .content {
        display: flex;
        width: 100% !important;
        overflow: hidden;
        padding: 15px 15px 15px 0;

        .top {
          width: 100%;
          @include flex-col;
          justify-content: space-around;
          background: $lightgray;
          padding: 10px;
          border-radius: 5px;

          .name {
            font-size: 1.2rem;
          }
          .details {
            font-size: 1rem;
            padding: 5px 0;
          }
          .audio {
            width: 100%;

            audio {
            }
          }
        }
      }
    }

    .audio {
      @include sizes(40px, 100%);
    }

    .confirm {
      text-align: center;
      background-color: $green;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      color: white;

      &:hover {
        background-color: $darkgreen;
      }
    }
  }

  .song_search {
    @include flex-col;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    min-height: 85px;

    .spinner-container {
      margin-top: 100px;
    }

    form {
      display: flex;
      width: 100%;
      min-height: 55px;
      position: relative;
      overflow: hidden;
      background-color: $green;
      border-radius: 0.5rem 0.5rem 0 0;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      justify-content: space-around;
      div {
        padding: 5px 0px 5px 5px;
        width: 100%;
        input {
          background-color: white;
          padding: 5px;
          width: 100%;
          cursor: pointer;
          border-radius: 0.5rem;
        }
      }

      button {
        cursor: pointer;
        min-width: 170px;
        width: auto;
        margin-left: 5px;
        @include dfc;

        span {
          width: 100%;
          text-align: center;
        }

        &:hover {
          background-color: $darkgreen;
        }
      }

      span {
        color: white;
      }
    }

    .pick__results {
      @include flex-col;

      max-height: 350px;
      width: 100%;
      overflow: auto;
      background-color: $lightgray;
      padding: 10px;
      border-radius: 0 0 10px 10px;

      .row {
        font-size: 1.3rem;
        padding: 10px;

        cursor: pointer;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
      }

      .row__main {
      }

      &::-webkit-scrollbar {
        width: 12px;
        /* width of the entire scrollbar */
      }

      &::-webkit-scrollbar-track {
        background: $gray;
        /* color of the tracking area */
        // border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $darkgray;
        /* color of the scroll thumb */
        border-radius: 20px;
        /* roundness of the scroll thumb */
        /* creates padding around scroll thumb */
      }

      &__row {
        overflow-wrap: break-word;
        cursor: pointer;
        padding: 20px 10px;
        font-weight: 100;

        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
                                          supported by Chrome, Edge, Opera and Firefox */

        &:hover {
          background: $gray;
        }

        &__main {
          font-weight: 900;
          color: $black;
        }
      }

      .selected {
        background: $gray;
      }

      &__row:not(:last-child) {
        border-bottom: 3px solid $black;
      }
    }
  }

  .round_results {
    .results__row {
      .user {
      }
      .guessedId {
      }
      .roundScore {
      }
      .totalScore {
      }
    }
  }
}
