@mixin lobby-block {
  @include sizes(100%, 100%);
  border-radius: 15px;
  @include dfc;
}

@mixin lobby-block-header {
  @include sizes(100px, 100%);
  @include dfc;
  background: $black;
  flex: 0 0 100px;
  border-radius: 15px 15px 0 0;
  color: $white;
  font-size: 32px;
  text-align: center;
}

@mixin button {
  margin: 10px;
  transition: 0.3s;
  padding: 15px 10px;
  background: $white;
  color: $black;
  border-radius: 15px;
  letter-spacing: 2px;
  line-height: 1;

  &:hover {
    color: $white;
    background: $darkgray;
    transition: 0.3s;
  }
}

.lobby_page {
  @include sizes(100vh, 100%);
  display: flex;
  background: $green;

  .wrapper {
    width: 100%;
    padding: 25px;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 15px;

    display: grid;
    align-items: center;
    justify-content: space-between;

    .team_btn {
      font-weight: bolder;
      padding: 15px 5px;
      font-size: 1.2rem;
      cursor: pointer;
    }

    .players {
      @include lobby-block;
      @include flex-col;

      min-height: 700px;
      background: $white;

      .header {
        @include lobby-block-header;
      }

      .content {
        @include sizes(100%, 100%);

        .avatar {
          @include sizes(50px, 50px);
          position: relative;
          border-radius: 50%;

          .host-indicator {
            @include pos(absolute, left, -20px, top, -25px);
            z-index: 1;
          }

          img {
            position: relative;
            width: 110%;
            border-radius: 50%;
          }
        }

        .player {
          @include sizes(90px, 100%);

          display: flex;
          align-items: center;
          position: relative;

          &:hover > .kick_button {
            display: block;
          }
          &:nth-child(odd) {
            background: gainsboro;
          }
          &.host {
            background: gold;

            .kick_button {
              display: none;
            }
          }

          p {
            margin-left: 15px;
          }

          .avatar {
            margin-left: 10px;
          }

          .kick_button {
            position: absolute;
            right: 10px;
            margin-right: 10px;
            vertical-align: middle;
            width: 50px;
            cursor: pointer;
            display: none;
          }
          .you {
            font-style: italic;
          }
        }
      }

      .footer {
        @include sizes(100px, 100%);
  
        background: $black;
        color: $white;
        
        border-radius: 0 0 15px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        button {
          @include button;
        }
      }
    }
  }

  .games_table {
    @include lobby-block;
    font-size: 32px;
    overflow: hidden;
    background: $white;

    .game_play {
      height: 100%;
    }

    .games_table_wrapper {
      @include flex-col;
      @include sizes(100%, 100%);
      justify-content: space-between;
    }

    .header {
      @include sizes(100px, 100%);
      flex: 0 0 100px;

      background: $black;
      color: $white;

      display: flex;
      justify-content: center;
      align-items: center;

      button {
        @include button;
      }
    }

    .content {
      @include sizes(100%, 100%);

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 15px;

      overflow-y: scroll;
      flex: 0 1 auto;
      padding: 15px;

      &.game_settings {
        @include flex-col;

        * {
          max-width: 100%;
        }

        .round_count {
          .row {
            display: flex;
            align-items: center;
            p {
              margin-right: 20px;
            }
          }
        }

        .select {
          position: relative;
          height: 50px;

          .currentOption.option {
            background: $green;
          }

          .options {
            @include pos(absolute, top, 62px, left, 0);
            background: $white;
          }

          .option {
            background: $white;
            color: $black;

            border: 3px $black solid;
            width: 250px;
            margin: 7px 0;
            padding: 10px 10px;
            border-radius: 15px;

            &:hover {
              background: $green;
            }
          }
        }

        .row {
          display: flex;
        }

        input {
          background: white;
          border: 3px black solid;
          margin: 5px 0;
          width: 100px;
        }

        button {
          @include button;
          @include dfc;

          margin: 0px;
          margin-right: 15px;

          background: $black;
          color: $white;
          text-align: center;

          &:hover {
            background: $green;
          }
        }
      }

      &.game_rules {
        @include flex-col;
      }

      h2 {
        font-size: 2.5rem;
      }

      .game_card {
        @include sizes(200px, 100%);
        @include flex-col;
        @include dfc;

        border-radius: 15px;
        background: white;
        font-size: 26px;
        transition: 0.3s;

        img {
          @include sizes(150px, 150px);
        }

        &:hover {
          background: $green;
        }
      }
    }

    .footer {
      @include sizes(100px, 100%);

      background: $black;
      color: $white;

      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        @include button;
      }
    }
  }

  .chat {
    @include lobby-block;
    height: 100%;
  }
}
