@mixin lobby-block {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin lobby-block-header {
  background: $black;
  flex: 0 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  color: $white;
  font-size: 32px;
  text-align: center;
}

.lobby_page {
  height: 100vh;
  width: 100%;
  display: flex;
  background: $green;

  .team_btn {
    font-weight: bolder;
    padding: 15px 5px;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .wrapper {
    width: 100%;
    padding: 25px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
  }

  .players {
    @include lobby-block;
    min-height: 700px;
    flex-direction: column;
    background: $white;

    .header {
      @include lobby-block-header;
    }

    .content {
      height: 100%;
      width: 90%;

      .avatar {
        .host-indicator {
          position: absolute;
          left: -20px;
          top: -25px;
          z-index: 1;
          // display: none;
        }

        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        //   flex: 1 0 auto;
        img {
          position: relative;
          // border: 3px black solid;
          width: 110%;
          border-radius: 50%;
        }
      }

      .player {
        width: 100%;
        height: 90px;
        padding: 10px;
        display: flex;
        align-items: center;

        p {
          margin-left: 15px;
        }
      }

      .bg-dark {
        background: $subgray;
        color: $black;
        width: 100%;
      }
    }

    .footer {
      margin-bottom: 5px;
      width: 100%;
      display: flex;
      justify-content: space-around;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45%;
        height: 50px;
        color: $white;
        background: $gray;
        border-radius: 15px;

        &.active {
          background: $black;
        }
      }
    }
  }

  .games_table {
    @include lobby-block;
    font-size: 32px;
    overflow: hidden;
    background: $white;

    .games_table_wrapper {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .header {
      height: 100px;
      flex: 0 0 100px;
      background: $black;
      color: $white;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .content {
      overflow-y: scroll;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 15px;
      flex: 0 1 auto;
      padding: 15px;

      .game_card {
        border-radius: 15px;
        background: white;
        height: 200px;
        width: 100%;
        font-size: 26px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.3s;

        img {
          height: 150px;
          width: 150px;
        }

        &:hover {
          background: $green;
        }
      }
    }
    .footer {
      height: 100px;
      background: $black;
      color: $white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      button {
        margin: 30px;
        transition: 0.3s;

        &:hover {
          color: $lightgray;
          transition: 0.3s;
        }
      }
    }
  }

  .chat {
    @include lobby-block;
    // height: 700px;
    height: 100%;
  }
}
