.login__page {
  background-color: $green;
  width: 100%;
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .login_card {
    border-radius: 15px;
    overflow: hidden;
    width: 450px;

    .avatar {
      height: 150px;
      width: 150px;
      @include dfc;
      align-items: center;

      .wrapper {
        position: relative;
        height: 100px;
        width: 100px;
      }

      img {
        border-radius: 100%;
      }

      button {
        position: absolute;
        bottom: 15px;
        right: 15px;
        font-size: 2rem;
        height: 20px;
        width: 20px;
      }
    }

    .flex-col {
      @include flex-col;
      align-items: flex-start;
      gap: 10px;
      width: 220px;

      input {
        border-bottom: 3px $black solid;
        padding-bottom: 5px;
      }

      input::placeholder {
        color: $gray;
      }
    }

    .flex {
      @include dfc;
      width: 100%;
      background: $white;
      padding: 10px;
      gap: 30px;
    }

    .heading {
      padding: 20px 0;
    }

    .heading,
    .footer {
      @include dfc;
      background-color: $black;
      color: $white;
    }

    .footer button {
      @include dfc;
      padding: 10px 30px;
      margin: 10px 0;
      border-radius: 10px;
      transition: 0.3s;
      background: $lightgray;
      color: $black;
      outline: unset;

      img {
        align-self: center;
        height: 25px;
        width: 25px;
      }

      span {
        @include dfc;
        padding-left: 5px;
      }

      &:hover {
        background: $green;
        transition: 0.3s;
      }
    }
  }
}
