@mixin dfc {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}
