@mixin dfc {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin sizes($height, $width) {
  height: $height;
  width: $width;
}

@mixin pos($position, $x, $xsize, $y, $ysize) {
  position: $position;
  #{$x}: $xsize;
  #{$y}: $ysize;
}