$black: #1c252c;
$darkgray: #58545b;
$gray: #b7a7ae;
$lightgray: #e1d5d9;
$white: #f6f2f6;
$subgray: #f0f0f0;
$green: #79b464;
$red: #b02323;

$lightgreen: #cbfabb;
$lightred: #f19c9c;

$darkgreen: #6da35b;
